@font-face {
    font-family: 'ropa-sans';
    src: url('../fonts/ropa-sans.eot');
    src: url('../fonts/ropa-sans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ropa-sans.woff2') format('woff2'),
         url('../fonts/ropa-sans.woff') format('woff'),
         url('../fonts/ropa-sans.ttf') format('truetype'),
         url('../fonts/ropa-sans.svg#ropa_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}